<ion-header>
  <ion-toolbar color="primary">
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list lines="full">
      <ion-item *ngIf="todo">
        <ion-input required type ="number" placeholder="calificacion" [(ngModel)]="todo.calificacion">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="todo">
        <ion-input required type ="text" placeholder="Nombre " [(ngModel)]="todo.nombre">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="todo">
        <ion-input required type ="number" placeholder="precio" [(ngModel)]="todo.precio">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="todo">
        <ion-input required type ="text" placeholder="tipo" [(ngModel)]="todo.tipo">
        </ion-input>
      </ion-item>

  </ion-list>
  <ion-button expand="full" (click)="saveTodo()">Save</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
  <ion-fab-button color="danger" routerLink="/home" routerDirection="forward" (click)="onRemove(todoId)">
  <ion-icon name="trash"></ion-icon>
  </ion-fab-button>  
  </ion-fab>

</ion-content>